.network-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.network-box {
    position: relative;
    min-height: 220px;
    padding: 30px;

    border: 1px solid #222;
    background: rgba(255,255,255,.015);

    transition: .3s;
}

.network-box:hover {
    border-color: #ff1744;
    transform: translateY(-5px);
}

.network-number {
    color: #ff1744;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
}

.network-box h3 {
    margin-top: 55px;

    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.network-box p {
    margin-top: 15px;

    color: #777;
    line-height: 1.6;
}


@media (max-width: 800px) {

    .network-grid {
        grid-template-columns: 1fr;
    }

}
